* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0b436e;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0b436e;
  color: aliceblue;
}

.title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 50px;
}

.navbar-links {
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.25px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #62afeb;
  border-radius: 20px;
}

.toggle-btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 31px;
  height: 21px;
}

.toggle-btn .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.header {
  background-color: #7ebdee;
  min-height: 80vh;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.name {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 90px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
  margin-left: 50px;
}

.my-title {
  font-style: normal;
  border-top: 1px solid #0b436e;
  font-weight: 400;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
  margin-left: 50px;
}

.about {
  min-height: 15vh;
  width: auto;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-me {
  font-style: normal;
  border-bottom: 1px solid #7ebdee;
  font-weight: 400;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 2rem;
}

.info-box {
  background-image: url(../images/toronto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}

.text-box-info {
  width: 70vw;
  height: 48vh;
  background-color: #7ebdee;
  opacity: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  margin: 0.5rem;
}

.info {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.25px;
  color: black;
  margin: 1rem;
}

.img-box-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(20, 1fr);
  -ms-grid-rows: 1fr 10px 1fr 10px 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 10px;
  width: 55vw;
  height: 60vh;
  align-self: flex-start;
  margin-top: 2rem;
}

.img-box-1 > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.img-box-1 > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.img-box-1 > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.img-box-1 > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.img-box-1 > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}

.img-box-1 > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}

.img-box-1 > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}

.img-box-1 > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}

.img-box-1 > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 17;
}

.img-box-1 > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 19;
}

.img-box-1 > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 21;
}

.img-box-1 > *:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 23;
}

.img-box-1 > *:nth-child(13) {
  -ms-grid-row: 1;
  -ms-grid-column: 25;
}

.img-box-1 > *:nth-child(14) {
  -ms-grid-row: 1;
  -ms-grid-column: 27;
}

.img-box-1 > *:nth-child(15) {
  -ms-grid-row: 1;
  -ms-grid-column: 29;
}

.img-box-1 > *:nth-child(16) {
  -ms-grid-row: 1;
  -ms-grid-column: 31;
}

.img-box-1 > *:nth-child(17) {
  -ms-grid-row: 1;
  -ms-grid-column: 33;
}

.img-box-1 > *:nth-child(18) {
  -ms-grid-row: 1;
  -ms-grid-column: 35;
}

.img-box-1 > *:nth-child(19) {
  -ms-grid-row: 1;
  -ms-grid-column: 37;
}

.img-box-1 > *:nth-child(20) {
  -ms-grid-row: 1;
  -ms-grid-column: 39;
}

.img-box-1 > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.img-box-1 > *:nth-child(22) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.img-box-1 > *:nth-child(23) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.img-box-1 > *:nth-child(24) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.img-box-1 > *:nth-child(25) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}

.img-box-1 > *:nth-child(26) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}

.img-box-1 > *:nth-child(27) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}

.img-box-1 > *:nth-child(28) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;
}

.img-box-1 > *:nth-child(29) {
  -ms-grid-row: 3;
  -ms-grid-column: 17;
}

.img-box-1 > *:nth-child(30) {
  -ms-grid-row: 3;
  -ms-grid-column: 19;
}

.img-box-1 > *:nth-child(31) {
  -ms-grid-row: 3;
  -ms-grid-column: 21;
}

.img-box-1 > *:nth-child(32) {
  -ms-grid-row: 3;
  -ms-grid-column: 23;
}

.img-box-1 > *:nth-child(33) {
  -ms-grid-row: 3;
  -ms-grid-column: 25;
}

.img-box-1 > *:nth-child(34) {
  -ms-grid-row: 3;
  -ms-grid-column: 27;
}

.img-box-1 > *:nth-child(35) {
  -ms-grid-row: 3;
  -ms-grid-column: 29;
}

.img-box-1 > *:nth-child(36) {
  -ms-grid-row: 3;
  -ms-grid-column: 31;
}

.img-box-1 > *:nth-child(37) {
  -ms-grid-row: 3;
  -ms-grid-column: 33;
}

.img-box-1 > *:nth-child(38) {
  -ms-grid-row: 3;
  -ms-grid-column: 35;
}

.img-box-1 > *:nth-child(39) {
  -ms-grid-row: 3;
  -ms-grid-column: 37;
}

.img-box-1 > *:nth-child(40) {
  -ms-grid-row: 3;
  -ms-grid-column: 39;
}

.img-box-1 > *:nth-child(41) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.img-box-1 > *:nth-child(42) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.img-box-1 > *:nth-child(43) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.img-box-1 > *:nth-child(44) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.img-box-1 > *:nth-child(45) {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
}

.img-box-1 > *:nth-child(46) {
  -ms-grid-row: 5;
  -ms-grid-column: 11;
}

.img-box-1 > *:nth-child(47) {
  -ms-grid-row: 5;
  -ms-grid-column: 13;
}

.img-box-1 > *:nth-child(48) {
  -ms-grid-row: 5;
  -ms-grid-column: 15;
}

.img-box-1 > *:nth-child(49) {
  -ms-grid-row: 5;
  -ms-grid-column: 17;
}

.img-box-1 > *:nth-child(50) {
  -ms-grid-row: 5;
  -ms-grid-column: 19;
}

.img-box-1 > *:nth-child(51) {
  -ms-grid-row: 5;
  -ms-grid-column: 21;
}

.img-box-1 > *:nth-child(52) {
  -ms-grid-row: 5;
  -ms-grid-column: 23;
}

.img-box-1 > *:nth-child(53) {
  -ms-grid-row: 5;
  -ms-grid-column: 25;
}

.img-box-1 > *:nth-child(54) {
  -ms-grid-row: 5;
  -ms-grid-column: 27;
}

.img-box-1 > *:nth-child(55) {
  -ms-grid-row: 5;
  -ms-grid-column: 29;
}

.img-box-1 > *:nth-child(56) {
  -ms-grid-row: 5;
  -ms-grid-column: 31;
}

.img-box-1 > *:nth-child(57) {
  -ms-grid-row: 5;
  -ms-grid-column: 33;
}

.img-box-1 > *:nth-child(58) {
  -ms-grid-row: 5;
  -ms-grid-column: 35;
}

.img-box-1 > *:nth-child(59) {
  -ms-grid-row: 5;
  -ms-grid-column: 37;
}

.img-box-1 > *:nth-child(60) {
  -ms-grid-row: 5;
  -ms-grid-column: 39;
}

.display-img-1 {
  max-width: 350px;
  width: 100%;
  height: 220px;
  border-radius: 20px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 8;
  grid-column-end: 9;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

.display-img-2 {
  max-width: 350px;
  width: 100%;
  height: 220px;
  border-radius: 20px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 8;
  grid-column-end: 9;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

.display-img-3 {
  max-width: 350px;
  width: 100%;
  height: 450px;
  border-radius: 20px;
  -ms-grid-column: 10;
      grid-column-start: 10;
  -ms-grid-column-span: 10;
  grid-column-end: 20;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

.my-portfolio {
  height: 15vh;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-head {
  border-bottom: 1px solid #7ebdee;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
}

.portfolio {
  height: 130vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #7ebdee;
}

.projects {
  width: 30vw;
  height: 80vh;
  margin: 1em;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.pro-1 {
  background-image: url(../images/image-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.pro-2 {
  background-image: url(../images/gen-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.pro-3 {
  background-image: url(../images/space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.project-title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.project-box {
  background-color: aliceblue;
}

.project-des {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: -0.25px;
  color: black;
  margin: 0.5rem;
}

.project-btn {
  width: 18vw;
  height: 10vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0.5rem;
  opacity: 70%;
  background-color: aliceblue;
  border-radius: 20px;
  border: none;
}

.project-link {
  font-style: normal;
  border-radius: 20px;
  font-weight: 400;
  font-size: calc(10px + 1vw);
  line-height: 50px;
  letter-spacing: -0.25px;
  color: black;
  margin: 0.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
}

.project-btn:hover {
  opacity: 100%;
}

.contact {
  height: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-title {
  border-bottom: 1px solid #0b436e;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
}

.contact-form {
  background-color: #7ebdee;
  border-radius: 20px;
  height: 60vh;
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.input {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: -0.25px;
  color: aliceblue;
  text-align: start;
}

input:hover {
  color: black;
  border: 2px solid black;
}

.label {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: -0.25px;
  color: #0b436e;
}

.message-box {
  height: 30vh;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-btn {
  font-style: normal;
  font-weight: 400;
  font-size: calc(10px + 1vw);
  line-height: 30px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 2rem;
  background-color: #0b436e;
  border: none;
  width: 200px;
  height: 70px;
  border-radius: 20px;
}

.form-btn:hover {
  color: #0b436e;
  background-color: aliceblue;
}

.social-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-box {
  background-color: #7ebdee;
  width: 12vw;
  height: 20vh;
  margin: 1rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-brands {
  color: aliceblue;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 110px;
}

.fa-brands:hover {
  color: #0b436e;
}

@media screen and (max-width: 1280px) {
  .display-img-3 {
    display: none;
  }

  .project-des {
    font-size: 20px;
  }

  .project-link {
    font-size: 18px;
  }

  .social-box {
    width: 20vw;
    height: 25vh;
  }
}
@media screen and (max-width: 1180px) {
  .info-box {
    height: 65vh;
  }

  .text-box-info {
    width: 65vw;
    height: 45vh;
  }

  .info {
    font-size: 25px;
    line-height: 36px;
  }
}
@media screen and (max-width: 1100px) {
  .info-box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .text-box-info {
    width: 65vw;
    height: 50vh;
  }
}
@media screen and (max-width: 1010px) {
  .text-box-info {
    width: 65vw;
    height: 55vh;
  }
}
@media screen and (max-width: 1000px) {
  .portfolio {
    height: 150vh;
  }

  .pro-1 {
    width: 70vw;
    height: 40vh;
  }

  .pro-2 {
    width: 70vw;
    height: 40vh;
  }

  .pro-3 {
    width: 70vw;
    height: 40vh;
  }

  .social-box {
    width: 10vw;
    height: 15vh;
  }

  .fa-brands {
    font-size: 70px;
  }
}
@media screen and (max-width: 937px) {
  .text-box-info {
    width: 65vw;
    height: 50vh;
  }

  .info {
    font-size: 23px;
    line-height: 33px;
  }
}
@media screen and (max-width: 800px) {
  .toggle-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .nav-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .navbar-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .social-box {
    width: 15vw;
    height: 15vh;
  }

  .contact-form {
    width: 60vw;
    height: 60vh;
  }
}
@media screen and (max-width: 790px) {
  .project-btn {
    width: 20vw;
  }
}
@media screen and (max-width: 711px) {
  .project-btn {
    width: 25vw;
  }
}
@media screen and (max-width: 688px) {
  .project-des {
    font-size: 17px;
  }
}
@media screen and (max-width: 628px) {
  .name {
    font-size: 50px;
    line-height: 70px;
  }

  .my-title {
    font-size: 30px;
    line-height: 60px;
  }
}
@media screen and (max-width: 581px) {
  .project-des {
    font-size: 20px;
    line-height: 22px;
  }

  .project-btn {
    width: 30vw;
  }

  .social-box {
    width: 20vw;
    height: 15vh;
  }

  .contact-form {
    width: 70vw;
    height: 60vh;
  }
}
@media screen and (max-width: 474px) {
  .name {
    font-size: 30px;
    line-height: 40px;
  }

  .my-title {
    font-size: 20px;
    line-height: 40px;
  }

  .project-des {
    font-size: 17px;
    line-height: 20px;
  }

  .project-btn {
    width: 40vw;
  }

  .social-box {
    width: 25vw;
    height: 15vh;
  }
}
@media screen and (max-width: 390px) {
  .social-box {
    width: 25vw;
    height: 15vh;
    margin: 0.5rem;
  }

  .fa-brands {
    font-size: 60px;
  }
}
@media screen and (max-width: 369px) {
  .title {
    font-size: 20px;
    line-height: 30px;
  }

  .project-title {
    font-size: 30px;
  }

  .project-btn {
    width: 50vw;
  }
}