* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0b436e;
  overflow-x: hidden;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0b436e;
  color: aliceblue;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
}

.title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 50px;
  cursor: default;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.title a {
  text-decoration: none;
  color: aliceblue;
}

.title a:hover {
  border-bottom: 2px solid white;
}

.navbar-links {
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.25px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #62afeb;
  border-radius: 20px;
}

.toggle-btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 31px;
  height: 21px;
}

.toggle-btn .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.header {
  background-color: #7ebdee;
  min-height: 80vh;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.name {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 90px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
  margin-left: 50px;
  cursor: default;
}

.my-title {
  font-style: normal;
  border-top: 1px solid #0b436e;
  font-weight: 400;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
  margin-left: 50px;
  cursor: default;
}

.about {
  min-height: 10vh;
  width: auto;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-me {
  font-style: normal;
  border-bottom: 1px solid #7ebdee;
  font-weight: 400;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 2rem;
  cursor: default;
}

.info-box {
  background-image: url(/images/index-images/toronto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.text-box-info {
  width: 60vw;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  margin: 1rem;
}

.info {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 1vw);
  line-height: calc(1.5em + 0.5vw);
  letter-spacing: -0.25px;
  color: black;
  margin: 1rem;
  cursor: default;
}

.display-image {
  max-width: 40vw;
  height: 68vh;
  border-radius: 20px;
}

.my-education {
  height: 10vh;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.education-head {
  border-bottom: 1px solid #7ebdee;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
  cursor: default;
}

.education {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #7ebdee;
}

.wrapper {
  width: 100%;
}

.carousel {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}

.carousel .card {
  color: black;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  margin: 10px;
  height: 800px;
  max-width: 700px;
  width: 100%;
}

.card-img-top-1 {
  max-width: 400px;
  width: 100%;
  height: 250px;
  margin: 0.5rem;
}

.card-img-top-2 {
  max-width: 400px;
  width: 100%;
  height: 400px;
  margin: 0.5rem;
}

.card-img-top-3 {
  max-width: 450px;
  width: 100%;
  height: 100px;
  margin: 0.5rem;
}

.card-title {
  font-size: 35px;
  line-height: 45px;
  margin: 0.5rem;
}

.card-info-1 {
  font-size: 25px;
  line-height: 40px;
  margin: 0.5rem;
  font-style: italic;
}

.card-info-2 {
  font-size: 25px;
  line-height: 40px;
  margin: 0.5rem;
}

.card-text {
  font-size: 28px;
  line-height: 38px;
  margin: 0.5rem;
}

.school-link {
  margin: 10px;
  text-decoration: none;
  color: #0b436e;
}

.school-link:hover {
  border-bottom: 2px solid #0b436e;
}

.carousel .card-1 {
  background: white;
}

.carousel .card-2 {
  background: white;
}

.carousel .card-3 {
  background: white;
}

.owl-dots {
  text-align: center;
  margin-top: 40px;
}

.owl-dot {
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #0072bc;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.owl-dot.active,
.owl-dot:hover {
  background: #0072bc;
}

.my-portfolio {
  height: 10vh;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-head {
  border-bottom: 1px solid #7ebdee;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
  cursor: default;
}

.portfolio {
  height: 130vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #7ebdee;
}

.projects {
  width: 30vw;
  height: 80vh;
  margin: 1em;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.pro-1 {
  background-image: url(/images/index-images/12-hour.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.pro-2 {
  background-image: url(/images/index-images/gen-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.pro-3 {
  background-image: url(/images/index-images/space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.project-title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: default;
}

.project-box {
  background-color: aliceblue;
}

.project-des {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: -0.25px;
  color: black;
  margin: 0.5rem;
  cursor: default;
}

.project-btn {
  font-style: normal;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 400;
  font-size: 25px;
  line-height: 50px;
  letter-spacing: -0.25px;
  margin: 2rem;
  opacity: 70%;
  background-color: white;
  border-radius: 15px;
  border: 20px solid white;
  -webkit-transition: 1s;
  transition: 1s;
}

.project-link {
  color: black;
  margin: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
}

.project-btn:hover {
  opacity: 100%;
  border: 20px solid white;
}

.contact {
  height: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: default;
}

.form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: default;
}

.contact-title {
  border-bottom: 1px solid #0b436e;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
  cursor: default;
}

.contact-form {
  background-color: #7ebdee;
  border-radius: 20px;
  height: 60vh;
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.input {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: -0.25px;
  color: aliceblue;
  text-align: start;
  -webkit-transition: 1s;
  transition: 1s;
}

input:hover {
  color: black;
  border: 2px solid black;
}

.label {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: -0.25px;
  color: #0b436e;
  cursor: default;
}

.message-box {
  height: 30vh;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-btn {
  font-style: normal;
  font-weight: 400;
  font-size: calc(10px + 1vw);
  line-height: 30px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 2rem;
  background-color: #0b436e;
  border: none;
  width: 200px;
  height: 70px;
  border-radius: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.form-btn:hover {
  color: #0b436e;
  background-color: aliceblue;
}

.social-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 30vh;
}

.fa-brands {
  color: #7ebdee;
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 90px;
  margin: 2rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.fa-brands:hover {
  color: aliceblue;
}

@media screen and (max-width: 1280px) {
  .display-img-3 {
    display: none;
  }

  .project-des {
    font-size: 20px;
  }

  .project-link {
    font-size: 18px;
  }

  .social-box {
    width: 20vw;
    height: 25vh;
  }
}
@media screen and (max-width: 1182px) {
  .display-image-1 {
    height: 58vh;
    width: 70vw;
  }
}
@media screen and (max-width: 1100px) {
  .info-box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 150vh;
  }

  .display-image-1 {
    height: 68vh;
    width: 80vw;
  }
}
@media screen and (max-width: 1000px) {
  .text-box-info {
    height: 58vh;
    width: 90vw;
  }

  .portfolio {
    height: 150vh;
  }

  .pro-1 {
    width: 70vw;
    height: 40vh;
  }

  .pro-2 {
    width: 70vw;
    height: 40vh;
  }

  .pro-3 {
    width: 70vw;
    height: 40vh;
  }

  .social-box {
    width: 10vw;
    height: 15vh;
  }

  .fa-brands {
    font-size: 70px;
  }
}
@media screen and (max-width: 900px) {
  .info-box {
    height: 100vh;
  }

  .display-image {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .toggle-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .nav-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .navbar-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .text-box-info {
    height: 68vh;
    width: 90vh;
  }

  .social-box {
    width: 15vw;
    height: 15vh;
  }

  .contact-form {
    width: 60vw;
    height: 60vh;
  }
}
@media screen and (max-width: 790px) {
  .project-btn {
    width: 20vw;
  }
}
@media screen and (max-width: 711px) {
  .project-btn {
    width: 25vw;
  }

  .text-box-info {
    height: 75vh;
    width: 100vh;
  }

  .display-image-1 {
    height: 68vh;
    width: 100vw;
  }
}
@media screen and (max-width: 688px) {
  .project-des {
    font-size: 17px;
  }
}
@media screen and (max-width: 628px) {
  .name {
    font-size: 50px;
    line-height: 70px;
  }

  .my-title {
    font-size: 30px;
    line-height: 60px;
  }
}
@media screen and (max-width: 600px) {
  .display-image-1 {
    height: 60vh;
    width: 120vw;
  }
}
@media screen and (max-width: 581px) {
  .project-des {
    font-size: 20px;
    line-height: 22px;
  }

  .project-btn {
    width: 30vw;
  }

  .social-box {
    width: 20vw;
    height: 15vh;
  }

  .contact-form {
    width: 70vw;
    height: 60vh;
  }
}
@media screen and (max-width: 500px) {
  .info-box {
    height: 140vh;
  }

  .display-image-1 {
    height: 50vh;
    width: 130vw;
  }
}
@media screen and (max-width: 474px) {
  .name {
    font-size: 30px;
    line-height: 40px;
  }

  .my-title {
    font-size: 20px;
    line-height: 40px;
  }

  .project-des {
    font-size: 17px;
    line-height: 20px;
  }

  .project-btn {
    width: 40vw;
  }

  .social-box {
    width: 25vw;
    height: 15vh;
  }
}
@media screen and (max-width: 450px) {
  .info-box {
    height: 150vh;
  }

  .text-box-info {
    width: 100vw;
    height: 85vh;
  }
}
@media screen and (max-width: 390px) {
  .social-box {
    width: 25vw;
    height: 15vh;
    margin: 0.5rem;
  }

  .fa-brands {
    font-size: 60px;
  }
}
@media screen and (max-width: 369px) {
  .title {
    font-size: 20px;
    line-height: 30px;
  }

  .project-title {
    font-size: 30px;
  }

  .project-btn {
    width: 50vw;
  }
}
@media screen and (max-width: 355px) {
  .social-group {
    width: 90vw;
    height: 20vh;
  }

  .fa-brands {
    width: 50px;
    height: 50px;
    margin: 1rem;
  }
}
@media screen and (max-width: 337px) {
  .info-box {
    height: 120vh;
  }

  .info {
    font-size: calc(12px + 1vw);
    line-height: calc(1.5em + 0.1vw);
  }

  .display-image {
    display: none;
  }
}