* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #62afeb;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0b436e;
  color: aliceblue;
}

.title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 50px;
}

.navbar-links {
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.25px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #62afeb;
  border-radius: 20px;
}

.toggle-btn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 31px;
  height: 21px;
}

.toggle-btn .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.header {
  background-color: #7ebdee;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.img-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 25vw;
  height: 40vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img {
  width: 200px;
  height: 300px;
  border-radius: 50%;
}

.name {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 90px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
  margin-left: 50px;
}

.my-title {
  font-style: normal;
  border-top: 1px solid #0b436e;
  font-weight: 400;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
  margin-left: 50px;
}

.about {
  min-height: 70vh;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-me {
  font-style: normal;
  border-bottom: 1px solid #0b436e;
  font-weight: 400;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 2rem;
}

.info-box {
  background-color: #7ebdee;
  width: 100%;
}

.info-box:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.info {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: -0.25px;
  color: #0b436e;
  margin: 1rem;
}

.my-portfolio {
  height: 100vh;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-head {
  border-bottom: 1px solid #0b436e;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
}

.portfolio {
  height: 80vh;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0b436e;
  border-radius: 20px;
  margin: 1rem;
}

.projects {
  width: 30vw;
  height: 60vh;
  background-color: #7ebdee;
  margin: 1em;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.project-title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.project-des {
  font-style: normal;
  border-top: 1px solid #0b436e;
  border-bottom: 1px solid #0b436e;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.25px;
  color: #0b436e;
  margin: 1rem;
}

.project-link {
  font-style: normal;
  border-radius: 20px;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.project-link:hover {
  color: #0b436e;
}

.contact {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-title {
  border-bottom: 1px solid #0b436e;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
}

.contact-form {
  background-color: #0b436e;
  border-radius: 20px;
  height: 60vh;
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #0b436e;
  border-bottom: 1px solid #62afeb;
}

input:hover {
  color: #0b436e;
  background-color: #7ebdee;
  border: none;
}

.label {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 1rem;
}

.form-btn {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.25px;
  color: aliceblue;
  margin: 2rem;
  background-color: #62afeb;
  border: none;
  width: 200px;
  height: 70px;
  border-radius: 20px;
}

.form-btn:hover {
  color: #62afeb;
  background-color: aliceblue;
}

@media screen and (max-width: 800px) {
  .toggle-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .nav-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .navbar-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 628px) {
  .name {
    font-size: 50px;
    line-height: 70px;
  }

  .my-title {
    font-size: 30px;
    line-height: 60px;
  }
}
@media screen and (max-width: 459px) {
  .name {
    font-size: 30px;
    line-height: 40px;
  }

  .my-title {
    font-size: 20px;
    line-height: 40px;
  }

  .img {
    width: 150px;
    height: 250px;
    border-radius: 50%;
  }
}
@media screen and (max-width: 369px) {
  .title {
    font-size: 20px;
    line-height: 30px;
  }
}