* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow-x: hidden;
}



.nav-bar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #4e5052;
    color: aliceblue;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99;
}

    .title {
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: -0.25px;
        color: aliceblue;
        margin: 1rem;
        align-self: flex-start;
        margin-left: 50px;
        cursor: default;
        transition-duration: 1s;
    }

    .title a {
        text-decoration: none;
        color: aliceblue;
    }

    .title a:hover {
        //border-bottom: 1px solid black ;
        color: black;
    }

    .navbar-links{
        height: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: -0.25px;
    }

    .navbar-links ul {
        margin: 0;
        padding: 0;
        display: flex;
    }

    .navbar-links li {
        list-style: none;
    }

    .navbar-links li a {
        text-decoration: none;
        color: white;
        padding: 1rem;
        display: block;
    }

    .navbar-links li:hover {
        background-color: black;
        border-radius: 20px;
    }

    .toggle-btn {
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 31px;
        height: 21px;
    }

    .toggle-btn .bar {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }

.header {
    width: 100%;
    background-color: white;
    min-height: 80vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

    .name {
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: calc(60px + 5vw);
        line-height: calc(61px + 5vw);
        letter-spacing: 10px;
        color: black;
        margin: 2rem;
        cursor: default;
        align-self: flex-start;
    }

    .my-title {
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: calc(50px + 2vw);
        line-height: calc(51px + 2vw);
        letter-spacing: 10px;
        color: black;
        margin: 2rem;
        cursor: default;
        align-self: flex-start;
    }

    .info-box {
        width: 100%;
        background: #4e5052;
        height: 125vh;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: hidden;
        }

    .about-me {
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: calc(60px + 5vw);
        line-height: calc(61px + 5vw);
        letter-spacing: 10px;
        color: white;
        margin: 2rem;
        cursor: default;
        align-self: flex-start;
    }

    .info-box-about {
        width: 60vw;
        height: 60vh;
    }

    .info {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: calc(30px + 1vw);
        line-height: calc(1.5em + 0.5vw);
        letter-spacing: -0.25px;
        color: white;
        margin: 2rem;
        cursor: default;
    }

        .display-image {
            max-width: 350px;
            width: 100%;
            height: 500px;
            border-radius: 20px;
            border: 2px solid white;
            margin: 1rem;
        }

.education {
    width: 100%;
    height: 140vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    background-color: grey;
    }

        .wrapper{
            width: 100%;
            }
            .carousel{
            width: 100%;
            margin: auto;
            padding: 0 30px;
            display: flex;
            }
            .carousel .card{
            color: black;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
            margin: 10px;
            width: 50vw;
            height: 100vh;
            border: 2px solid black;
            }
            .card-img-top-1 {
                max-width: 100px;
                width: 100%;
                height: 50px;
                margin: 1rem;
                align-self: flex-start;
            }
            .card-img-top-2 {
                max-width: 70px;
                width: 100%;
                height: 70px;
                margin: 1rem;
                align-self: flex-start;
            }
            .card-img-top-3 {
                max-width: 150px;
                width: 100%;
                height: 30px;
                margin: 1rem;
                align-self: flex-start;
            }
            .card-title {
                font-family: 'Montserrat', sans-serif;
                font-size: 22px;
                line-height: 33px;
                margin: .5rem;
            }
            .card-info-1 {
                font-size: 20px;
                line-height: 30px;
                margin: .5rem;
                font-style: italic;
            }
            .card-info-2 {
                font-size: 20px;
                line-height: 30px;
                margin: .5rem;
            }
            .card-text {
                font-size: 22px;
                line-height: 32px;
                margin: 1rem;
            }
            .school-link{
                margin: 1rem;
                text-decoration: none;
                color: black;

            }
            .school-link:hover {
                border-bottom: 1px solid black;
            }
            .carousel .card-1{
            background: white;
            }
            .carousel .card-2{
            background: white;
            }
            .carousel .card-3{
            background: white;
            }
           

 .portfolio {
    width: 100%;
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    background-color: #4e5052;
    } 

    .portfolio-head {
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: calc(60px + 5vw);
        line-height: calc(61px + 5vw);
        letter-spacing: 10px;
        color: white;
        margin: 2rem;
        cursor: default;
        align-self: flex-start;
    }

    .projects {
        width: 30vw;
        height: 80vh;
        margin: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: white;
        border: 2px solid black;
        border-radius: 20px;
    }



    .project-title {
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: -0.25px;
        color: black;
        margin: 1rem;
        align-self: center;
        cursor: default;
    }

    .project-box {
        background-color: grey;
    }

    .project-des {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.25px;
        color: white;
        margin: .5rem;
        cursor: default;
    }

    .img-1 {
        width: 25vw;
        height: 30vh;
        border: 2px solid black;
    }

    .project-btn {
        transition: 1s;
    }

    .project-link {
        margin: 2rem;
        align-self: center;
        text-decoration: none;
    }

    .img-1:hover {
        opacity: 100%;
        border: 3px solid black;
    }

.contact {
    width: 100%;
    height: 125vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: default;

}

.contact-title {
    color: black;
}


    .contact-form {
        background-color: #4e5052;
        border-radius: 20px;
        height: 60vh;
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        border: 2px solid black;
    }

    .input {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 50px;
        letter-spacing: -0.25px;
        color: white;
        text-align: start;
        transition: 1s;
        border: 2px solid black;
    }

    input:hover {
        color: black;
        border: 2px solid black;
    }

    .label {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 50px;
        letter-spacing: -0.25px;
        color: white;
        cursor: default;
    }

    .message-box {
        height: 30vh;
        width: 30vw;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        border: 2px solid black;
    }

    .form-btn {
        font-style: normal;
        font-weight: 400;
        font-size: calc(10px + 1vw);
        line-height: 30px;
        letter-spacing: -0.25px;
        color: white;
        margin: 2rem;
        background-color: black;
        border: none;
        width: 250px;
        height: 70px;
        border-radius: 20px;
        transition: 1s;
        border: 2px solid black;
    }

    .form-btn:hover {
        color: black;
        background-color: white;
        border: 2px solid black;
    }

    .social-group {
        display: flex;
        justify-content:center;
        align-items: center;
        width: 100vw;
        height: 10vh;
    }

    .fa-brands {
        color: black;
        font-style: normal;
        font-weight: 400;
        font-size: 90px;
        line-height: 90px;
        margin: 2rem;
    }

    .fa-brands:hover {
        color: #4e5052;
    }

    .the-end {
        background-color: #4e5052;;
        width: 100%;
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
        .the-end-title {
            font-style: italic;
            font-weight: 200;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: -0.25px;
            color: white;
            margin: 1rem;
            cursor: default;
        }


@media screen and (max-width:1280px) {

    .display-img-3 {
        display: none;
    }

    .project-des {
        font-size: 20px;
    }

    .project-link {
        font-size: 18px;
    }

    .social-box {
        width: 20vw;
        height: 25vh;
    }


}

@media screen and (max-width:1182px) {

    .card-text {
        font-size: 23px;
        line-height: 33px;
    }

}


@media screen and (max-width:1100px) {

    .info-box {
        align-items: center;
        justify-content: center;
        height: 150vh;
    }

}

@media screen and (max-width:1050px) {

    .info-box {
        flex-direction: column;
    }

    .carousel {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .education {
        height: 220vh;
    }

    .carousel .card{
        width: 80vw;
        height: 60vh;
    }

}

@media screen and (max-width:1000px) {

    .my-title {
        letter-spacing: 5px;
        font-size: calc(45px + 2vw);
    }

    .portfolio {
        height: 250vh;
    }

    .pro-1 {
        width: 50vw;
        height: 70vh;
    }

    .pro-2 {
        width: 50vw;
        height: 70vh;
    }

    .pro-3 {
        width: 50vw;
        height: 70vh;
    }

    .social-box {
        width: 10vw;
        height: 15vh;
    }

    .fa-brands {
        font-size: 70px;
    }

}

@media screen and (max-width:900px) {

    .info-box {
        height: 120vh;
    }
    
    .info-box-about {
        width: 80vw;
        height: 40vh;
    }

    .toggle-btn {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .nav-bar {
        flex-direction: column;
        align-items: flex-start;

    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }
    
    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    
}

@media screen and (max-width:800px) {

    .header {
        height: 20vh;
    }

    .name {
        font-size: calc(50px + 2vw);
        line-height: calc(50px + 2vw);
        letter-spacing: 5px;
    }

    .my-title {
        font-size: calc(40px + 1vw);
        line-height: calc(40px + 2vw);
        letter-spacing: 1px;
    }

    .text-box-info {
        height: 68vh;
        width: 90vh;
    }

    .education {
        height: 360vh;
    }

    .carousel .card {
        width: 80vw;
        height: 100vh;
    }

    .social-box {
        width: 15vw;
        height: 15vh;
    }

    .contact-form {
        width: 60vw;
        height: 60vh;
    }

}

@media screen and (max-width: 750px) {

    .portfolio {
        height: 320vh;
    }

    .pro-1 {
        width: 70vw;
        height: 90vh;
    }

    .pro-2 {
        width: 70vw;
        height: 90vh;
    }

    .pro-3 {
        width: 70vw;
        height: 90vh;
    }
    
}


@media screen and (max-width:715px) {

    .card-text {
        font-size: 18px;
        line-height: 28px;
        margin: 1rem;
    }
    .card-info-1 {
        margin: 1rem;
    }
    .card-info-2 {
        margin: 1rem;
    }

} 

@media screen and (max-width:711px) {


    .text-box-info {
        height: 75vh;
        width: 100vh;
    }

    .display-image-1 {
        height: 68vh;
        width: 100vw;
    }

    .message-box {
        max-width: 250px;
        width: 100%;
        height: 300px;
    }

}

@media screen and (max-width:694px) {
    
    .info-box-about {
        width: 90vw;
        height: 50vh;
    }
    
    .project-des {
        font-size: 17px;
    }

}

@media screen and (max-width:630px) {

    .header {
        height: 15vh;
    }

    .name {
        font-size: calc(40px + 2vw);
        line-height: calc(40px + 2vw);
        letter-spacing: 2px;
    }

    .my-title {
        font-size: calc(30px + 2vw);
        line-height: calc(30px + 2vw);
        letter-spacing: 1px;
    }

}

@media screen and (max-width:600px) {
    
    .display-image-1 {
        height: 60vh;
        width: 120vw;
    }

    .portfolio-head {
        letter-spacing: 1px;
    }

    .card-title {
        font-size: 28px;
        line-height: 38px;
    }

    .card-info-1 {
        line-height: 30px;
        font-size: 22px;
    }

    .card-info-2 {
        line-height: 30px;
        font-size: 22px;
    }

    .card-text {
        font-size: 15px;
        line-height: 20px;
    }

}

@media screen and (max-width:581px) {

    .social-box {
        width: 20vw;
        height: 15vh;
    }

    .contact-form {
        width: 70vw;
        height: 60vh;
    }

}


@media screen and (max-width:500px) {

    .portfolio-head {
        letter-spacing: 1px;
    }

    .project-title {
        font-size: 30px;
        line-height: 40px;
    }

    .pro-1 {
        width: 90vw;
        height: 90vh;
    }

    .pro-2 {
        width: 90vw;
        height: 90vh;
    }

    .pro-3 {
        width: 90vw;
        height: 90vh;
    }

    .info-box {
        height: 140vh;
    }
    
    .display-image-1 {
        height: 50vh;
        width: 130vw;
    }

}

@media screen and (max-width:474px) {

    .header {
        height: 10vh;
    }

    .name {
        font-size: calc(30px + 2vw);
        line-height: calc(30px + 2vw);
        letter-spacing: 2px;
    }

    .my-title {
        font-size: calc(20px + 2vw);
        line-height: calc(20px + 2vw);
        letter-spacing: 1px;
    }

    .project-des {
        font-size: 17px;
        line-height: 20px;
    }

    .social-box {
        width: 25vw;
        height: 15vh;
    }

}

@media screen and (max-width: 450px) {

    .title {
        font-size: 20px;
        line-height: 30px;
    }

    .info-box {
        height: 150vh;
    }
    
    .text-box-info {
        width: 100vw;
        height: 85vh;
    }

    .portfolio-head {
        letter-spacing: .5px;
        font-size: calc(45px + 2vw);
        line-height: calc(45px + 2vw);
    }

}

@media screen and (max-width: 400px) {

    .info-box {
        justify-content: space-evenly;
    }

    .info-box-about {
        width: 90vw;
        height: 60vh;
    }

}

@media screen and (max-width: 390px) {

    .contact-form {
        width: 90vw;
        height: 60vh;
    }

    .social-box {
        width: 25vw;
        height: 15vh;
        margin: .5rem;
    }

    .fa-brands {
        font-size: 60px;
    }

}

@media screen and (max-width: 369px) {
    
    .card-title {
        font-size: 20px;
        line-height: 30px;
    }

    .card-info-1 {
        font-size: 15px;
        line-height: 25px;
    }

    .card-info-2 {
        font-size: 15px;
        line-height: 25px;
    }

    .project-title {
        font-size: 30px;
    }

    .project-btn {
        width: 50vw;
    }

}

@media screen and (max-width: 355px) {

    .name {
        font-size: calc(30px + 1vw);
        line-height: calc(30px + 1vw);
        letter-spacing: 2px;
        margin: .5rem;
    }

    .my-title {
        font-size: calc(20px + 1vw);
        line-height: calc(20px + 1vw);
        letter-spacing: .5px;
        margin: .5rem;
    }

    .info-box-about {
        justify-content: center;
        align-items: center;
    }

    .portfolio-head {
        font-size: calc(45px + 2vw);
        line-height: calc(45px + 2vw);
    }
   
    .social-group {
        width: 90vw;
        height: 20vh;
    }

    .fa-brands {
        width: 50px;
        height: 50px;
        margin: 1rem;
    }

}

@media screen and (max-width: 337px) {

    .info-box {
        height: 90vh;
    }


    .info {
        font-size: 20px;
        line-height: 30px;
    }

    .img-1 {
        width: 250px;
        height: 150px;
    }

}